.select-plan-parent {
  .top-heading {
    padding-top: 16px;
    font-size: 25px;
    font-weight: bold;
  }
  .middle-heading {
    padding-top: 30px;
    color: var(--grey);
    font-size: 18px;
  }
 
}
